<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo1-examen">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `hijo1-examen`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Hijo1Examen extends Polymer.Element {
      static get is() { return 'hijo1-examen'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijo1-examen'
          }
        };
      }
    }

    window.customElements.define(Hijo1Examen.is, Hijo1Examen);
  </script>
</dom-module>
