<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijo1-examen">
  <template>
    <style>
      :host {
        display: block;
      }
        #boton1, #boton2{
            background-color: dimgray;
             width:120px;
            height:30px;
            color: antiquewhite;
            border: 0px;
        }
    </style>
    <h2>Hijo 1 EXAMEN</h2>
    <p>Clic en boton 1 lista de paises<br> Clic Boton 2 lista de estados</p>
     <input id="boton1" type="Button" value="boton 1" on-click="_evento" > 
    <input id="boton2" type="Button" value="Boton 2" on-click="_evento" > 
  </template>

  <script>
    /**
     * `hijo1-examen`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class Hijo1Examen extends Polymer.Element {
      static get is() { return 'hijo1-examen'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hijo1-examen'
          }
        };
      }
         _evento(e){
         this.dispatchEvent(new CustomEvent('click-boton', {detail: e.currentTarget.id }));
     //    debugger;
         console.log(e.currentTarget.id);
     }
    }

    window.customElements.define(Hijo1Examen.is, Hijo1Examen);
  </script>
</dom-module>
